&i2c0 {
	status = "disabled";
};

&spi1 {
	status = "okay";
	compatible = "nordic,nrf-spim";
	sck-pin = <7>;
	mosi-pin = <5>;
	miso-pin = <8>;
	cs-gpios = <&gpio0 4 GPIO_ACTIVE_HIGH>;

	ls0xx@0 {
		compatible = "sharp,ls0xx";
		label = "DISPLAY";
		spi-max-frequency = <2000000>;
		reg = <0>;
		width = <144>;
		height = <168>;
		disp-en-gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
	};
};
