on: [push, pull_request]

name: Build

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build Test
    steps:
      # To use this repository's private action,
      # you must check out the repository
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cache west modules
        uses: actions/cache@v2
        env:
          cache-name: cache-zephyr-modules
        with:
          path: |
            modules/
            tools/
            zephyr/
            bootloader/
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('config/west.yml') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-
      - name: West Init
        uses: 'docker://zmkfirmware/zephyr-west-action-arm:latest'
        id: west-init
        with:
          args: 'init "-l config"'
      - name: West Update
        uses: 'docker://zmkfirmware/zephyr-west-action-arm:latest'
        id: west-update
        with:
          args: 'update'
      - name: West Config Zephyr Base
        uses: 'docker://zmkfirmware/zephyr-west-action-arm:latest'
        id: west-config
        with:
          args: 'config "--global zephyr.base-prefer configfile"'
      - name: West Zephyr Export
        uses: 'docker://zmkfirmware/zephyr-west-action-arm:latest'
        id: west-zephyr-export
        with:
          args: 'zephyr-export'
      - name: West Build (nice!60)
        uses: 'docker://zmkfirmware/zephyr-west-action-arm:latest'
        id: west-build-nice60
        with:
          args: 'build "-s zmk/app -b nice_nano -- -DSHIELD=nice60 -DZMK_CONFIG=/github/workspace/config"'
      - name: Archive (nice!60)
        uses: actions/upload-artifact@v2
        with:
          name: nice_nano_nice60
          path: build/zmk.uf2
      - name: West Build (Lily58 Left)
        uses: 'docker://zmkfirmware/zephyr-west-action-arm:latest'
        id: west-build-lily58-left
        with:
          args: 'build "-s zmk/app -b nice_nano -- -DSHIELD=lily58_left -DZMK_CONFIG=/github/workspace/config"'
      - name: Archive (Lily58 Left)
        uses: actions/upload-artifact@v2
        with:
          name: nice_nano_lily58_left
          path: build/zmk.uf2
      - name: West Build (Lily58 Right)
        uses: 'docker://zmkfirmware/zephyr-west-action-arm:latest'
        id: west-build-lily58-right
        with:
          args: 'build "-s zmk/app -b nice_nano -- -DSHIELD=lily58_right -DZMK_CONFIG=/github/workspace/config"'
      - name: Archive (Lily58 Right)
        uses: actions/upload-artifact@v2
        with:
          name: nice_nano_lily58_right
          path: build/zmk.uf2